// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

    *{
        font-size: 1.17rem;
    }

    ion-header > ion-navbar > div.toolbar-content > ion-title > div{
        font-family: STHeitiSC-Medium;
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    ion-header > ion-toolbar > div.toolbar-content > ion-title > div{
        font-family: STHeitiSC-Medium;
        font-size: 1.5rem;
        letter-spacing: 0;
    }





    .item-label{
        float: left;
        padding: 0px;
        margin: 0px;
        font-family: STHeitiSC-Light;
        font-size: 14px;
        color: #3D3D3D;
        letter-spacing: -0.34px;
    }

    .item-info{
        float: left;
        padding: 0px;
        margin: 0px;
        font-family: STHeitiSC-Medium;
        font-size: 14px;
        color: #3D3D3D;
        letter-spacing: -0.34px;
    }

    .grid{
        padding: 0px;
    }

    .item-block{
        min-height: 3.4rem;
    }
    